{% extends "base.html" %}

{% block title %}Edit Article{% endblock %}

{% block content %}
<br/><br/>
    <div id="add_article">
        <h2 class="title">Edit article</h2><br/>
        {% if user.is_authenticated %}
            {% ifequal article.user user %}
                {% if user.is_active %}
                <form action="/edit/{{ article.id }}/" method="post" id="article_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" value="{{ next }}" name="next" />
                    <input type="submit" value="Submit" id="submit" />
                </form>
                {% else %}
                You are not an active user
                {% endif %}
            {% else %}
                Only user wroted the article can edit it
            {% endifequal %}
        {% else %}
            You should <a href="/login/" title="Login" >log in</a> to edit articles
        {% endif %}
        
        </div>
{% endblock %}